body {
    margin: 0px auto;
    max-width: none;
    background-color: #00022E;
    color: white;
  }
  
  header h1 {
    font-size: 4rem;
  }
  
  nav li a {
    font-size: 1.2rem;
    margin: 0 25px 0 25px;
  }
  
  section {
    max-width: 900px;
  }
  
  .inner-wrap {
    max-width: 800px;
  }



  .two-column {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 25px;
    max-width: 900px;
   }
  
  section a:hover, .mySlides a:hover {
    color: #FFAD05;
  }
  
  .parallax {
    width: 100%;
    position: initial;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
  }
  

  
  
  .parallax button {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  button:hover {
    color: black;
    background-color: #F4CDD0;
    padding: 10px;
    box-shadow: 5px 10px 8px #012A36;
  }
  
  .img-wrap {
    display: none;
  }
  
  .spotlight-head {
    max-width: 900px;
  }
  
  .mySlides {
    max-width: 900px;
  }
  
  .mySlides picture img {
    max-width: 800px;
  }
  
  .testimonials img {
    max-width: 200px;
  }
  
  .contact-form h3 {
    margin-bottom: 25px;
    margin-left: 25px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }